<%= include ./includes/header.ejs %>

<div class="row">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>视频名称</th>
				<th>国家</th>
				<th>年份</th>
				<th>录入时间</th>
				<th>查看</th>
				<th>更新</th>
				<th>删除</th>
			</tr>
		</thead>
		<tbody>
			<% videos.forEach(function(item){ %>
		    	<tr class="item-id-<%= item._id %>">
		    		<td><%= item.title %></td>
		    		<td><%= item.country %></td>
		    		<td><%= item.year %></td>
		    		<td><%= item.date %></td>
		    		<td><a href="../video/<%= item._id %>">查看</a></td>
		    		<td><a href="../admin/update/<%= item._id %>">修改</a></td>
		    		<td><button class="btn btn-danner-del" type="button" data-id="<%= item._id %>">删除</button></td>
		    	</tr>
			<% }) %>
		</tbody>
	</table>
</div>

<%= include ./includes/footer.ejs %>